.uipath/.auth.json
.uipath/.error_log
prompts/__pycache__/prompts.cpython-314.pyc
__pycache__/main.cpython-313.pyc
__pycache__/main.cpython-314.pyc
.uipath/studio_metadata.json
__uipath/state.db
.uipath/.telemetry.json
